<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="layouts/Layouts::head"></div>
    <title>Listar clasificaciones</title>
</head>
<body>

<nav th:replace="layouts/Layouts::navbar"></nav>

<h1>Lista de clasificaciones</h1>

<table class="table table-responsive">
    <thead>
    <th>#</th>
    <th>Nombre</th>
    <th>Editar</th>
    <th>Eliminar</th>
    </thead>
    <tbody>
    <tr th:if="${clasificaciones.isEmpty()}">
        <td>No existing classifications</td>
    </tr>
    <tr th:each="clasificacion : ${clasificaciones}">
        <td><span th:text="${clasificacion.idClasificacion}"></span></td>
        <td><span th:text="${clasificacion.nombre}"></span></td>
        <td><a th:href="@{/clasificaciones/editar/{id}(id=${clasificacion.idClasificacion})}" class="btn btn-primary">
            <i class="fas fa-user-edit ml-2"></i>
        </a></td>
        <td><a th:href="@{/clasificaciones/eliminar/{id}(id=${clasificacion.idClasificacion})}" class="btn btn-danger">
            <i class="fas fa-user-times ml-2"></i>
        </a></td>
    </tr>
    </tbody>
</table>

<div th:replace="layouts/Layouts::js"></div>

</body>
</html>